.callout {
  --callout-color: 68, 138, 255;
  --callout-icon: lucide-pencil;
}
.callout[data-callout="abstract"],
.callout[data-callout="summary"],
.callout[data-callout="tldr"] {
  --callout-color: 0, 176, 255;
  --callout-icon: lucide-clipboard-list;
}
.callout[data-callout="info"],
.callout[data-callout="todo"] {
  --callout-color: 0, 184, 212;
}
.callout[data-callout="info"] {
  --callout-icon: lucide-info;
}
.callout[data-callout="todo"] {
  --callout-icon: lucide-check-circle-2;
}
.callout[data-callout="tip"],
.callout[data-callout="hint"],
.callout[data-callout="important"] {
  --callout-color: 0, 191, 165;
  --callout-icon: lucide-flame;
}
.callout[data-callout="success"],
.callout[data-callout="check"],
.callout[data-callout="done"] {
  --callout-color: 0, 200, 83;
  --callout-icon: lucide-check;
}
.callout[data-callout="question"],
.callout[data-callout="help"],
.callout[data-callout="faq"] {
  --callout-color: 100, 221, 23;
  --callout-icon: help-circle;
}
.callout[data-callout="warning"],
.callout[data-callout="caution"],
.callout[data-callout="attention"] {
  --callout-color: 255, 145, 0;
  --callout-icon: lucide-alert-triangle;
}
.callout[data-callout="failure"],
.callout[data-callout="fail"],
.callout[data-callout="missing"] {
  --callout-color: 255, 82, 82;
  --callout-icon: lucide-x;
}
.callout[data-callout="danger"],
.callout[data-callout="error"] {
  --callout-color: 255, 23, 68;
  --callout-icon: lucide-zap;
}
.callout[data-callout="bug"] {
  --callout-color: 245, 0, 87;
  --callout-icon: lucide-bug;
}
.callout[data-callout="example"] {
  --callout-color: 124, 77, 255;
  --callout-icon: lucide-list;
}
.callout[data-callout="quote"],
.callout[data-callout="cite"] {
  --callout-color: 158, 158, 158;
  --callout-icon: quote-glyph;
}
.callout {
  overflow: hidden;
  border-style: solid;
  border-color: rgba(var(--callout-color), var(--callout-border-opacity));
  border-width: var(--callout-border-width);
  border-radius: var(--callout-radius);
  margin: 1em 0;
  mix-blend-mode: var(--callout-blend-mode);
  background-color: rgba(var(--callout-color), 0.1);
  padding: var(--callout-padding);
}
.callout.is-collapsible .callout-title {
  cursor: var(--cursor);
}
.callout-title {
  padding: var(--callout-title-padding);
  display: flex;
  gap: var(--size-4-1);
  font-size: var(--callout-title-size);
  color: rgb(var(--callout-color));
  line-height: var(--line-height-tight);
}
.callout-content {
  overflow-x: auto;
  padding: var(--callout-content-padding);
  background-color: var(--callout-content-background);
}
.callout-icon {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
}
.callout-icon .svg-icon {
  color: rgb(var(--callout-color));
}
.callout-title-inner {
  font-weight: var(--bold-weight);
  color: var(--callout-title-color);
}
.callout-fold {
  display: flex;
  align-items: center;
  padding-right: var(--size-4-2);
}
.callout-fold .svg-icon {
  transition: transform 100ms ease-in-out;
}
.callout.is-collapsed .callout-fold .svg-icon {
  transform: rotate(-90deg);
}
.markdown-source-view.mod-cm6 .callout {
  margin: 0;
}
.markdown-rendered pre {
  position: relative;
  padding: var(--size-4-2) var(--size-4-4);
  min-height: 38px;
  background-color: var(--code-background);
  border-radius: var(--radius-s);
  white-space: var(--code-white-space);
  overflow-x: scroll;
}
.markdown-rendered pre code {
  border: none;
  padding: 0;
  background-color: transparent;
}
